<nav class="custom-wrapper pure-g" id="menu" role="navigation">

    <div class="pure-u-1">
        <div class="pure-menu">
            <a href="/" class="pure-menu-heading custom-brand home" name="home" title="Home">{{ .Site.Title }}</a>
            <a href="#" class="custom-toggle" id="toggle">
              <s class="menu">menu</s>
              <s class="close">close</s>
            </a>
        </div>
    </div>

    <div class="pure-menu pure-menu-horizontal custom-can-transform">
            {{ if .Site.Menus.main }}
            <ul class="pure-menu-list">
              {{ range .Site.Menus.main }}
                <li class="pure-menu-item">
                  <a class="pure-menu-link {{ .Identifier }}" href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a></li>
                {{ end }}
              </ul>
              {{ end }} {{ partial "social-follow.html" . }}
              </div>
  </nav>